In [1]:
l = [1,2,3,4,5]

In [13]:
def test(l):
    l2 = []
    for i in l:
        l2.append(i**2)
    return l2

In [3]:
l = [1,2,3,4,5,6]

In [4]:
def sq(x):
    return x**2

In [7]:
list(map(sq,l))
# Map

[1, 4, 9, 16, 25, 36]

In [8]:
list(map(lambda x:x**2 , l))

[1, 4, 9, 16, 25, 36]

In [10]:
l1 = [11,12,13,14,5]
l2 = [9,8,7,6]

list(map(lambda x,y:x+y,l1,l2))

[20, 20, 20, 20]

In [11]:
def add(x,y):
    return x+y

In [12]:
list(map(add,l1,l2))

[20, 20, 20, 20]

In [16]:
s = "pwskills"
list(map(lambda s1:s1.upper(),s ))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [17]:
# Reduce

In [18]:
from functools import reduce

In [35]:
l = [1,2,31,4,5,6,7]

In [32]:
reduce(lambda x,y:x+y , [28,-1])

27

In [33]:
reduce(lambda x,y:x*y , l)

5040

In [36]:
reduce(lambda x,y: x if x>y else y ,l)

31

In [37]:
# Filter in Python

In [40]:
list(filter(lambda x: x%2!=0 , l))

[1, 31, 5, 7]

In [41]:
for i in range(0,100):
    print(i)
    i =i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [43]:
l2 = ["pw" , "Mohit" , "Google"]

In [49]:
tuple(filter(lambda x: len(x) >= 6 , l2))

['Google']

In [50]:
# Q1. Create a python program to sort the given list of tuples based on integer value using a
# lambda function

In [2]:
l3  = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [3]:
l3

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [5]:
for i in l3:
    if(i== int):
     print(i)

In [1]:
l3

NameError: name 'l3' is not defined

In [26]:
l3  = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [27]:
l4 = []

In [7]:
for i in l3:
    if(i== int):
        l4.append(i)
    print(l4)

[]
[]
[]
[]

In [20]:
l3

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [28]:
list(map(lambda x,y: x+y , l4,l3))

[]

In [34]:
x = lambda x , y : x if x > y else y

In [35]:
x(12,123)

123

SyntaxError: expected 'else' after 'if' expression (3351831227.py, line 1)